# The public client ID for the Fitbit app.
# Default: 23TJVT
PUBLIC_FITBIT_CLIENT_ID="23TJVT"

# The callback URL for the OAuth flow.
# Default: /fitbit-auth
PUBLIC_FITBIT_REDIRECT_URI=""

# The address of the reverse proxy for Fitbit API requests.
# If empty, defaults to /api/fitbit-proxy
PUBLIC_FITBIT_PROXY_ADDRESS=""